canvas{
  left: 0px;
  z-index: -1;
  width: 100%;
  text-align: center;
  height:510px;
}
body{
  margin: 0;
}
div{
  z-index: -1;
}
#container{
  width: 100%;
  text-align: center;
}
#wrapper{
  width: 100%;
  text-align: center;
}
button {
  border: 0px;
}
#moveDown{
  cursor:s-resize;
}
#moveUp{
  cursor:n-resize;
}
#moveLeft{
  cursor:w-resize;
}
#moveRight{
  cursor:e-resize;
}
#zoomIn{
  cursor: zoom-in;
}
#zoomOut{
  cursor: zoom-out;
}
.absolute{
  position: absolute;
}
.save{
  background-color: red;
  display: none;
}
.load{
  display: none;
  background-color: green;
}
